@model MVCSalesSolution.Models.ViewModels.SellerFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Seller.Name">Name</label>
                <input type="text" class="form-control" asp-for="Seller.Name" placeholder="Enter your name" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email">E-mail</label>
                <input asp-for="Seller.Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="example@email.com - Enter your e-mail" />
                <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate">Birth Date</label>
                <input asp-for="Seller.BirthDate" type="date" class="form-control" placeholder="1990/08/12" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary">Base Salary</label>
                <input asp-for="Seller.BaseSalary" type="number" class="form-control" value="0.00" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label">Departament</label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id",
                            "Name"))" class="form-control">
                    <option selected></option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
                <br /><br />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}