
@{
    ViewData["Title"] = "Teste";
}

<h2>Teste</h2>

<head>
    <title>Portfolio Online - Thalles Veloso</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href="C:\Projeto MVC Sales\MVCSalesSolution\wwwroot\css\styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap" rel="stylesheet">
    <script type="text/javascript" src="js/scripts.js"></script>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">


</head>


<body>

    <div id="navigation" class="navigation ">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="curriculo.html">Currículo</a></li>
            <li><a href="contato.html">Contato</a></li>
            <li id="threeline" class="threeline" onclick="openNav()">&#9776;</li>
        </ul>
    </div>

    <div class="capa">

        <div class="profile-pic">
            <img src="img/thalles-profile.jpg" alt="Foto de Thalles Veloso">
        </div>
        <div class="profile-title">
            <h1>THALLES <span>VELOSO DE LIMA</span> </h1>
            <h2>Engenheiro de Controle e Automação • Desenvolvedor WEB/Mobile • Gamer</h2>
        </div>
    </div>




</body>

